.a{

    margin: 3%;
    padding: 3%;
}
.b{

    margin: 3%;
    padding: 3%;
}
.c{

    margin: 3%;
    padding: 3%;

}
.d{

    background-color: green;
    height: 1%;
    width: 2%;
}
